<form [formGroup]="PasswordResetForm" (submit)="sendPasswordResetEmail(PasswordResetForm.value.email)">
    <div class="field has-text-left">
      <label class="label">Email Address: </label>
      <div class="control has-icons-left">
       <input formControlName="email" class="input is-focused" type="email">
        <span class="icon is-small is-left">
        </span>
      </div>
  
      <div class="has-text-danger">
        Email is required!
      </div>
  
      <div class="has-text-danger" >
        A valid email is required!
      </div>
    </div>
  
    <div class="field">
      <button [disabled]="PasswordResetForm.invalid" class="button is-block is-primary has-text-white is-fullwidth ">
        Send Request
      </button>
    </div>
</form>
