<!-- <div>
    <form id="search-container" class="centerFlex-column" [formGroup]="searchForm">
        <input id="searchText" type="text" placeholder="Escribe aquí lo que buscas..." class="form-control" (change) = "search(searchForm.value)" formControlName="text"/>
        <div id="advancedSearch" class="centerFlex-row centerFlex-spaceBetween" >
            <label>Categoria: <select id="category" class="form-control" name="category" (change) = "search(searchForm.value)" formControlName="category">
                <option value="" selected="selected">-- Selecciona Categoria --</option>
                <option value="Electronica">Electrónica</option>
                <option value="Juguetes">Juguetes</option>
                <option value="Videojuegos">Videojuegos</option>
                <option value="Inmuebles">Inmuebles</option>
                <option value="Salud">Salud</option>
                <option value="Moda">Moda</option>
                <option value="Coche y moto">Coche y moto</option>
            </select></label>
            <label>Ordenar por: <select id="orderby" class="form-control" name="orderby" (change) = "search(searchForm.value)" formControlName="order">
                <option value="title" selected="selected">Titulo</option>
                <option value="price">Precio</option>
                <option value="user_id">Vendedor</option>
                <option value="category">Categoria</option>
            </select></label>
                <label>Tipo de orden: <select id="ascdesc" class="form-control" name="ascdesc" (change) = "search(searchForm.value)" formControlName="ascdesc">
                <option value="ASC" selected="selected">Ascendente</option>
                <option value="DESC">Descendente</option>
            </select></label>
        </div>
    </form>
    <br>
    <div class="centerFlex width100"><div id="search-result"></div></div>
</div> -->

<ais-instantsearch [config]="config">
    <ais-search-box></ais-search-box>
    <ais-sort-by
        [items]="[
            { value: 'items', label: 'defecto' },
            { value: 'items_price_asc', label: 'precio ascendente' },
            { value: 'items_price_desc', label: 'precio descendente' },
            { value: 'items_category_asc', label: 'categoria ascendente' },
            { value: 'items_category_desc', label: 'categoria descendente' },
            { value: 'items_user_id_asc', label: 'vendedor ascendente' },
            { value: 'items_user_id_desc', label: 'vendedor descendente' },
            { value: 'items_title_asc', label: 'titulo ascendente' },
            { value: 'items_title_desc', label: 'titulo descendente' }
        ]"
    ></ais-sort-by>
    <ais-refinement-list
        attribute="category"
        operator="or"
        searchPlaceholder='Busca entre las categorias...'
    ></ais-refinement-list>
    <ais-hits>
      <ng-template let-hits="hits">
        <ol class="ais-Hits-list">
          <li *ngFor="let hit of hits" class="ais-Hits-item">
            <a href="item/{{hit.objectID}}"><p >{{hit.title}}</p></a>
          </li>
        </ol>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>
