<ais-instantsearch [config]="config">
    <ais-search-box></ais-search-box>
    <ais-sort-by
        [items]="[
            { value: 'items', label: 'defecto' },
            { value: 'items_price_asc', label: 'precio ascendente' },
            { value: 'items_price_desc', label: 'precio descendente' },
            { value: 'items_category_asc', label: 'categoria ascendente' },
            { value: 'items_category_desc', label: 'categoria descendente' },
            { value: 'items_user_id_asc', label: 'vendedor ascendente' },
            { value: 'items_user_id_desc', label: 'vendedor descendente' },
            { value: 'items_title_asc', label: 'titulo ascendente' },
            { value: 'items_title_desc', label: 'titulo descendente' }
        ]"
    ></ais-sort-by>
    <ais-refinement-list
        attribute="category"
        operator="or"
        searchPlaceholder='Busca entre las categorias...'
    ></ais-refinement-list>
    <ais-hits>
      <ng-template let-hits="hits">
        <ol class="ais-Hits-list">
          <li *ngFor="let hit of hits" class="ais-Hits-item">
            <a href="item/{{hit.objectID}}"><p >{{hit.title}}</p></a>
          </li>
        </ol>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>
