<ais-instantsearch [config]="config" class="height100"> 
  <div  class="row centerFlex-row">
    <ais-search-box class="col-5 col-xl-9" placeholder = "¿Qué buscas?..."></ais-search-box>
    <div id="sort-by" class="col-1 col-xl-3"><label class="bold d-flex align-items-center">Orden:<ais-sort-by style="margin-left: 10px;"
      [items]="[
          { value: 'items', label: 'por defecto' },
          { value: 'items_price_asc', label: 'precio ascendente' },
          { value: 'items_price_desc', label: 'precio descendente' },
          { value: 'items_category_asc', label: 'categoria ascendente' },
          { value: 'items_category_desc', label: 'categoria descendente' },
          { value: 'items_user_id_asc', label: 'vendedor ascendente' },
          { value: 'items_user_id_desc', label: 'vendedor descendente' },
          { value: 'items_title_asc', label: 'titulo ascendente' },
          { value: 'items_title_desc', label: 'titulo descendente' }
      ]"
    ></ais-sort-by></label></div>
  </div>
  <div  class="centerFlex-row row flex-wrap position-relative"> 
    <div class="centerFlex-column position-fixed" id="category-container">
      <h4 class="bold">Categorias</h4>
      <ais-refinement-list id="category-list"
        attribute="category" 
        operator="or">
      </ais-refinement-list>
    </div>
    
    <div class="centerFlex-column col-8 col-md-9 float-right" id="item-list">
      <div class="centerFlex-row position-fixed" id="pagination">
        <ais-hits-per-page
        [items] = "[ {label: '10 items por página', value: 10, default: true},
        {label: '25 items por página', value: 25},
        {label: '50 items por página', value: 50} ]" 
        
        ></ais-hits-per-page>
        <ais-pagination
          [padding]="5"
        ></ais-pagination>
      </div>
      <ais-hits >
        <ng-template let-hits="hits">
          <div *ngIf="hits.length === 0">
            No hay nada relacionado a tu busqueda.
          </div>
          <div class="ais-InfiniteHits-list">
            <div *ngFor="let hit of hits" class="ais-InfiniteHits-item width100 centerFlex-row flex-wrap row">
              <img class="col-2 col-md-3" src="../../../assets/uploadedImages/{{hit.main_photo}}">
              <div class="centerFlex-column col-12 col-md-7">
                <a href="item?i={{hit.objectID}}" class="title width100"><p >{{hit.title}}</p></a>
                <p class="align-self-start user-name ">De <a class="bold" href="user-profile?u={{hit.user_id}}"> {{hit.user_name}}</a></p>
                <a href="item?i={{hit.objectID}}" class="description width100"><p >{{hit.description}}</p></a>
              </div>
              <h2 class=" bold price col-1 col-md-2">{{hit.price}}€</h2> 
                
            </div>
          </div>
      
        </ng-template>
        
      </ais-hits>
    </div>


    

</div>  
   
    
  </ais-instantsearch>
