<h1 *ngIf="userInfo">Opiniones de {{userInfo.name}}</h1>
<div id="reviews-container" class="d-flex flex-wrap" *ngIf="reviews; else elseBlock">
    <div *ngFor = "let review of reviews" class="centerFlex-column align-items-start">
        <p><a href="user-profile?u={{review.to_id}}">{{review.from_name}}</a> le ha puntuado con {{review.points}} puntos.</p>
        <p><b>Opinión:</b> {{review.text}}</p>
    </div>
    
</div>
    
<ng-template #elseBlock><p id="reviews-container">No hay ninguna opinión que mostrar...</p></ng-template>
