<div id="reviews-container" class="d-flex flex-wrap" *ngIf="reviews; else elseBlock">
    <div *ngFor = "let review of reviews" class="centerFlex-column align-items-start">
        <p><a href="user-profile?u={{review.to_id}}">{{review.from_name}}</a> te ha puntuado con {{review.points}} puntos.</p>
        <p><b>Opinión:</b> {{review.text}}</p>
        <a class="btn btn-purple" href="/send-review?r={{review.objectID}}">Actualizar opinión</a>
    </div>
    
</div>
    
<ng-template #elseBlock><p id="reviews-container">No hay ninguna opinión que mostrar...</p></ng-template>