<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle(); show = !show" *ngIf="show; else notShow">
          menu
        </mat-icon>
        
        <ng-template #notShow>
          <mat-icon (click)="sidenav.toggle(); show = !show" >cancel</mat-icon>
        </ng-template>

      </button>
      <h1><a [routerLink]="'/home'" >SSHand V2 </a></h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button *ngIf ="!isLoggedIn; else LoggedWelcome"> Bienvenido, invitado </a>
        <ng-template mat-button #LoggedWelcome>
          <a mat-button> Bienvenido, {{userData.name}} </a>
        </ng-template>
        <a *ngIf ="!isLoggedIn" mat-button [routerLink]="'/login-register'"> Iniciar sesión o Registro </a>
        <a mat-button [routerLink]="'/contact'"> Contactar </a>
        <a mat-button [routerLink]="'/frequently-asked-questions'"> FAQ</a>
        <a *ngIf ="isLoggedIn" mat-button (click) = "openLogoutDialog()"> Cerrar sesión </a>
  
      </div>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list *ngIf="userData; else notLoggedMenu">
        <div class="hvr-grow" mat-list-item  id="avatar">
          <img src="../../../assets/uploadedImages/{{userData.avatar}}"> 
        </div>
        <a class="hvr-underline-from-left" mat-list-item [routerLink]="'/inbox'"> Buzón </a>
        <a class="hvr-underline-from-left" mat-list-item [routerLink]="'/post-item'"> Quiero vender algo </a>
        <a mat-list-item [routerLink]="'/profile'"> Mi perfil </a>
        <a mat-list-item [routerLink]="'/edit-profile'"> Configurar mi cuenta </a>
        <a mat-list-item [routerLink]="'/my-reviews'"> Mis opiniones </a>
        <a mat-list-item [routerLink]="'/my-items'"> Mis ventas </a> 
        
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Ocultar</a>
  
      </mat-nav-list>
      <ng-template #notLoggedMenu>
        <mat-nav-list>
          <div class="hvr-grow" mat-list-item  id="avatar">
            <img src="../../../assets/uploadedImages/no-avatar.png"> 
          </div>
          <a mat-list-item [routerLink]="'/post-item'"> Quiero vender algo </a>
          <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Ocultar</a>
        </mat-nav-list>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
    
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  