
<form [formGroup]="postForm" >
    <h2 class="bold">Subir un artículo</h2>
    <div class="form-group">
        <div class="position-relative centerFlex-column">
            <label  for="title" class="align-self-start bold">Título</label>
            <input type="text" name="title" formControlName="title" class="form-control width100"  required> 
            <div class="validator-error" *ngIf="postForm.get('title').touched && postForm.get('title').hasError('required')">Requerido</div>
            <div class="validator-error" *ngIf="postForm.get('title').touched && postForm.get('title').hasError('minlength')">Mínimo 25 caracteres</div>
            <div class="validator-error" *ngIf="postForm.get('title').touched && postForm.get('title').hasError('maxlength')">Máximo 150 caracteres</div>
            <div class="validator-error" *ngIf="postForm.get('title').touched && postForm.get('title').hasError('pattern')">No se permiten símbolos en el título.</div>

        </div>
        
        <div class="position-relative centerFlex-column">
            <label class="align-self-start bold" for="description">Descripción</label>
            <textarea class="form-control" formControlName="description" name="description" required></textarea>
            <div class="validator-error" *ngIf="postForm.get('description').touched && postForm.get('description').hasError('required')">Requerido</div>
            <div class="validator-error"*ngIf="postForm.get('description').touched && postForm.get('description').hasError('minlength')">Mínimo 50 caracteres</div>
            <div class="validator-error" *ngIf="postForm.get('description').touched && postForm.get('description').hasError('maxlength')">Máximo 500 caracteres</div>
        </div>
      <div class="position-relative centerFlex-column">
          <label class="align-self-start bold">Categoria</label>
        <select formControlName="category" class="form-control" > 
        <option value="">--Selecciona una--</option>
        <option *ngFor="let category of categories" [value]="category ">{{ category }}</option>
        </select>
        <div class="validator-error" *ngIf="postForm.get('category').touched && postForm.get('category').hasError('required')">Requerido</div>
      </div>
        
        <div class="position-relative centerFlex-column">
        <label  class="align-self-start bold">Precio</label>
            <div id="price" class="centerFlex align-self-start"><input type="text"  class="form-control" formControlName="price"  required><p class="bold" id="euro">€</p></div>
          
          <div class="align-self-start validator-error" *ngIf="postForm.get('price').touched && postForm.get('price').hasError('required')">Requerido</div>
          <div class="align-self-start validator-error" *ngIf="postForm.get('price').touched && postForm.get('price').hasError('pattern')">En numeros y si usas decimales, minimo 2</div>
        
        </div>
      <div class="position-relative centerFlex-column">
 
        <h5 class="bold">Selecciona las fotos que desees</h5>
        <div class="width100">  
            <div>  
                <ul>  
                    <li *ngFor="let file of files" class="centerFlex-column file-to-upload">  
                        <div class="file-info centerFlex-row">
                            <span class="file-label">  
                                {{file.data.name}}
                            </span> 
                            <button *ngIf="!file.uploaded;else uploaded" type="button" class="btn btn-danger btn-xs centerFlex"
                                    (click)="removeFile(file.data.name)">
                                    <mat-icon>delete</mat-icon>
                            </button>
                            <ng-template #uploaded>
                                <button type="button" class="btn btn-success btn-xs centerFlex">
                                    <mat-icon>check_circle</mat-icon>
                                </button>
                            </ng-template>
                            
                        </div>
                        
                    </li>  
                </ul>  
            </div>  
            <div  class="centerFlex-row flex-wrap">  
                
                <input class="btn btn-purple" type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" />  
                <button class="btn btn-success centerFlex-row" (click)="uploadFiles()">  
                    <mat-icon>file_upload</mat-icon>  
                    Subir todas
                </button>
            </div>  
        </div>
        <div *ngIf="photos.length > 0">
            <h5 class="bold">Selecciona la foto que quieres que sea la principal</h5>
    
            <div id="item-photos" class="centerFlex-row justify-content-around">
                <img class="item-image image-to-main" *ngFor="let photo of photos" (click)="selectImage(photo)" src = "{{photo}}}">
            </div>
        </div>   
 
    </div>
 
    
 
    <br><br>

    </div>
    <button type="button" (click)="postItem(postForm.value)" [disabled]="!postForm.valid" class="btn btn-purple width100">Publicar item</button>
    <label class="error">{{errorMessage}}</label>
    <label class="success">{{successMessage}}</label>
  </form>
