
form > div > div{
    margin-top:5px;
}
form > h2{
    text-align: center;
}
#price{
    width: 100px;
}
#euro{
    margin-bottom: 0; 
    margin-left: 5px;
    font-size: 30px
}
.queue-table{
    background-color: white;
}
#filename{
    font-size: 14px;
}
button{
    margin:2px;
}
button > mat-icon{
    margin-bottom: 2px;
}
mat-progress-bar{
    width: 50%;
}