<form [formGroup]="formConfirmPassword" class="centerFlex-column" (ngSubmit)="confirmPasswordReset(formConfirmPassword.value)">
    <h3>Elige tu nueva contraseña</h3>
    <label class="label">Contraseña: 
      <input class="form-control" type="password" formControlName="password">
    </label>
    <div class="validator-error" *ngIf="formConfirmPassword.get('password').touched && formConfirmPassword.get('password').hasError('required')">Requerido</div>
    <div class="validator-error" *ngIf="formConfirmPassword.get('password').touched && formConfirmPassword.get('password').hasError('maxlength')">Mínimo 8 caracteres</div>
    <div class="validator-error" *ngIf="formConfirmPassword.get('password').touched && formConfirmPassword.get('password').hasError('maxlength')">Máximo 24 caracteres</div>
    <div class="validator-error" *ngIf="formConfirmPassword.get('password').touched && formConfirmPassword.get('password').hasError('pattern')">Una mayúscula y un número mínimo</div>

    <label class="label">Repite tu contraseña: 
      <input class="form-control" type="password" formControlName="repassword">
    </label>
    <div class="validator-error" *ngIf="formConfirmPassword.get('repassword').touched && formConfirmPassword.get('repassword').hasError('required')">Requerido</div>
    <div class="validator-error" *ngIf="formConfirmPassword.get('repassword').touched && formConfirmPassword.get('repassword').hasError('maxlength')">Mínimo 8 caracteres</div>
    <div class="validator-error" *ngIf="formConfirmPassword.get('repassword').touched && formConfirmPassword.get('repassword').hasError('maxlength')">Máximo 24 caracteres</div>
    <div class="validator-error" *ngIf="formConfirmPassword.get('repassword').touched && formConfirmPassword.get('repassword').hasError('pattern')">Una mayúscula y un número mínimo</div>

    <button class="btn btn-purple" type="submit" [disabled]="!formConfirmPassword.valid">Confirmar</button>
    <alert *ngFor="let alert of rePasswordAlerts" [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClose(alert.error)">{{ alert.msg }}</alert>
  </form>
