<div id="profile-container" class="row" *ngIf="userInfo">
    <div id="user-avatar" class="centerFlex-column col-3 align-self-start">
      <div id="user-avatar" class="position-relative centerFlex-column" >
        <a class="position-relative">
          <div class="hvr-grow centerFlex-column"  [style.background-image]="avatar" id="avatar">
            <div *ngIf="userPoints;else zeroReviews" class="bold centerFlex" id="points">{{userPoints}}</div>
            <ng-template #zeroReviews><div  class="bold centerFlex" id="points">0</div></ng-template>
          </div>
        </a>
      </div>
        <a id="name" class="bold">{{userInfo.name}}</a>
        <a id="name" class="bold">{{userInfo.email}}</a>
        <img *ngIf="gender" class="gender" [src] = "gender">
        <div id="profile-btns">
          <a class="btn btn-purple centerFlex-row" href="/edit-profile" *ngIf="actualUser; else contact"><mat-icon>create</mat-icon>Editar Perfil</a>
          <ng-template #contact>
            <a class="btn btn-purple centerFlex-row" href="/send-msg?e={{userInfo.email}}">	<mat-icon> mail_outline</mat-icon>Contactar</a>
            <a class="btn btn-purple centerFlex-row" href="/send-review?to={{userInfo.objectID}}" *ngIf="!alreadyReviewed; else alreadyReviewedBtn"><mat-icon> message</mat-icon>Enviar opinión</a>
            <ng-template #alreadyReviewedBtn>
              <a class="btn btn-purple centerFlex-row" href="/send-review?r={{alreadyReviewed.objectID}}"><mat-icon> message</mat-icon>Actualizar opinión</a>
            </ng-template>
          </ng-template>
        </div>
        
    </div>
    <div id="basic-info" class="centerFlex-column col-8">
      <h3>Perfil de {{userInfo.name}}</h3>
      <div class="centerFlex-column width100">
        <label class="align-self-start">Pais y ciudad de residencia:</label>
        <div id="country-state">Vive en {{userInfo.country}}, {{userInfo.state}}</div>
      </div>
      <div class="centerFlex-column width100">
        <label class="align-self-start">Edad:</label>
        <div id="age">Nació en {{userInfo.age}}, tiene {{ageNumber}} años</div>
      </div>
      <div class="centerFlex-column width100">
        <label class="align-self-start">Descripción:</label>
        <div id="description">{{userInfo.description}}</div>
      </div>
      <h3>Mis cosas</h3>
      <div id="things" class="centerFlex-row justify-content-around width100"> 
        <a *ngIf="reviewsNumber > 0;else noreviews" href="/user-reviews?u={{userInfo.objectID}}">{{reviewsNumber}} opiniones recibidas</a>
          <ng-template #noreviews><p>Sin opiniones recibidas</p></ng-template>
        <a *ngIf="itemsNumber > 0;else noitems" href="/for-sale?u={{userInfo.objectID}}">{{itemsNumber}} productos en venta</a>
        <ng-template #noitems><p>Sin productos en venta</p></ng-template>
      </div>
      

    </div>
   
</div>



