<form *ngIf="!googleLogged"[formGroup]="PasswordResetForm"  class="centerFlex-column justify-content-around flex-wrap">
  <h3 *ngIf="editProfile; else resetPassTitle">Cambiar contraseña</h3>
  <ng-template #resetPassTitle>
    <h3>Recuperar contraseña</h3>
  </ng-template>
  <div class="centerFlex-column flex-wrap" >

    <input *ngIf="!editProfile" formControlName="email" class="form-control" placeholder="Introduce  tu email" type="email">
    <div class="validator-error" *ngIf="PasswordResetForm.get('email').touched && PasswordResetForm.get('email').hasError('email')">Eso no es un email</div>

    <button *ngIf="editProfile; else resetPass" class="btn btn-purple" (click)= "sendPasswordChange()">
      Quiero cambiarla
    </button>
    <ng-template #resetPass>
      <button [disabled]="PasswordResetForm.invalid" class="btn btn-purple" (click)="sendPasswordReset(PasswordResetForm.value.email)">
        Resetear contraseña
      </button>
    </ng-template>
    <alert *ngFor="let alert of alerts" [type]="alert.type" [dismissOnTimeout]="alert.timeout"><mat-icon>info</mat-icon>{{ alert.msg }}</alert>

  </div>
</form>
