

<div *ngIf="itemInfo && userInfo; else elseBlock" class="row" id="item-container">
    

    
    <div class="centerFlex-column col-3">
        <div id="photo-big">
            <img class="item-photo" [src]="toMain[0]" *ngIf="toMain[0] !== 'no-image.jpg';else noImage">
              <ng-template #noImage>
                <img class="item-photo" src="../../../assets/img/no-image.jpg">
              </ng-template>
        </div>
        <div id="item-photos" class="centerFlex-row">
            <div *ngFor="let photo of photos" >
                <img class="item-photo image-to-main" src="{{photo}}" (click)="selectImage(photo)" *ngIf="photo !== 'no-image.jpg'">

            </div>
        </div>
    </div>
    <div class="centerFlex-column col-6 align-self-start">
        <h3>{{itemInfo.title}}</h3>
        <p>{{itemInfo.description}}</p>
        <p>{{itemInfo.price}}</p>
        <p>{{itemInfo.category}}</p>
    </div>
    <div class="col-3">
      <div id="user-avatar" class="centerFlex-column ">
        <div id="user-avatar" class="position-relative centerFlex-column" >
          <a class="position-relative">
            <div class="hvr-grow centerFlex-column"  [style.background-image]="avatar" id="avatar">
              <div *ngIf="!userPoints;else zeroReviews" class="bold centerFlex" id="points">{{userPoints}}</div>
              <ng-template #zeroReviews><div  class="bold centerFlex" id="points">0</div></ng-template>
            </div>
          </a>
        </div>
          <a id="name" class="bold">{{userInfo.name}}</a>
          <a id="name" class="bold">{{userInfo.email}}</a>
          <img *ngIf="gender" class="gender" [src] = "gender">
          <div id="itemButtons" class="centerFlex-column">
            <a class="btn btn-purple centerFlex-row" *ngIf="!actualUser"  href="/send-msg?e={{userInfo.email}}&i={{itemInfo.objectID}}">	<mat-icon> mail_outline</mat-icon>Contactar</a>
            <a class="btn btn-purple centerFlex-row" *ngIf="actualUser" href="/edit-item?i={{itemInfo.objectID}}"><mat-icon>create</mat-icon>Editar</a>
            <button class="btn btn-danger centerFlex-row" *ngIf="actualUser" (click)="delete(itemInfo.objectID)"><mat-icon>delete_forever</mat-icon>Borrar</button>
        </div>
    </div>
    
</div>
    
<ng-template #elseBlock>Cargando contenido...</ng-template>

