

<div *ngIf="itemInfo && userInfo; else elseBlock" class="row d-flex flex-wrap" id="item-container">
    

    
    <div class="centerFlex-column col-3">
        <div id="photo-big">

        </div>
        <div id="photos-container">
            <div *ngFor="let photo of photos" >
                <img class="item-photo" src="{{photo}}" *ngIf="photo !== 'no-image.jpg';else noImage">
              <ng-template #noImage>
                <img class="item-photo" src="../../../assets/img/no-image.jpg">
              </ng-template>
            </div>
        </div>
    </div>
    <div class="centerFlex-column col-6">
        <p>{{itemInfo.title}}</p>
        <p>{{itemInfo.description}}</p>
        <p>{{itemInfo.price}}</p>
        <p>{{itemInfo.category}}</p>
    </div>
    <div class="centerFlex-column col-3">
        <div id="user-info" class="width100 centerFlex-column">
            <div class="hvr-grow"  id="avatar">
              <a [routerLink]="['/user-profile']" [queryParams]="{u:userInfo.objectID}">
                <img *ngIf="userInfo.avatar == 'no-avatar.png'" src="{{userInfo.avatar}}"> 
                <ng-template #noAvatar><img src="../../../../assets/img/no-avatar.png"> </ng-template>
            </a>
                <div *ngIf="!userPoints;else zeroReviews" class="bold centerFlex" id="points">{{userPoints}}</div>
                <ng-template #zeroReviews><div  class="bold centerFlex" id="points">0</div></ng-template>
            </div>
            <a id="name" class="bold hvr-grow" [routerLink]="['/user-profile']" [queryParams]="{u:userInfo.objectID}">{{userInfo.name}}</a>
            <img class="gender" *ngIf="usergender == 'male';else woman" src="../../../../assets/img/men.svg">
            <ng-template #woman><img class="gender" src="../../../../assets/img/women.svg"></ng-template>
            <p>{{userInfo.country}}, {{userInfo.state}}</p>
            <a [routerLink]="['/user-reviews']" [queryParams]="{u:userInfo.objectID}">{{reviewsNumber}} opiniones</a>
          </div>
    </div>
    
</div>
    
<ng-template #elseBlock>Cargando contenido...</ng-template>

