/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { font-family: sans-serif; }
.ais-SearchBox { margin-bottom: 1em }

*{
    font-family: 'Baloo Tamma 2', cursive;
}
#container{
    padding:15px;
}
.btn-purple{
    background-color:#6f389f;
    border-color: #6f389f;
    color:white;
}
.btn-purple:disabled{
    background-color: #6f389f;
    border-color:#6f389f;
}
.btn-purple:hover{
    background-color: #4d276f;
    border-color:#4d276f;
    color:white;
}
.centerFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.centerFlex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centerFlex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.centerFlex-spaceEvenly{
    justify-content: space-evenly;
    align-items: center;
}
.centerFlex-spaceBetween{
    justify-content: space-between;
    align-items: center;
}
.bold {
    font-weight: bold;
}
.pointer{
    cursor:pointer;
}
.backgroundNoRepeatCenter{
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}
.flexWrap{
    display:flex;
    flex-wrap: wrap;
}
.relative-position{
    position:relative;
}
.absolute-position{
    position:absolute;
}
.align-self-start{
    align-self: start;
}
.textCenter{
    text-align: center!important;
}
.alignSelfEnd{
    align-self: flex-end;
}
.width100{
    width:100%!important;
}