
<ng-container [ngSwitch]="type">
    <!-- password reset -->
    <ng-container *ngSwitchCase="'sent'">
        <h3 class="h3" style="text-align: center;">Mensajes enviados</h3>
    </ng-container>
  
    <!-- verify email address -->
    <ng-container *ngSwitchCase="'received'">
        <h3 class="h3" style="text-align: center;">Bandeja de entrada</h3>
    </ng-container>

    <ng-container *ngSwitchCase="'archived'">
        <h3 class="h3" style="text-align: center;">Mensajes archivados</h3>
    </ng-container>
  
    <!-- default action -->
    <ng-container *ngSwitchDefault>
      <!-- show an error message -->
    </ng-container>
  </ng-container>

  <div *ngIf="messagesData; else elseBlock"> 
    <div *ngFor="let message of messagesData">
        <a href="./inbox/{{message.objectID}}">{{message.subject}}</a>
        <a *ngIf="type == 'received'; else sentMessage" href="./user-profile/{{message.from_id}}">{{message.from_name}}</a>
        <ng-template #sentMessage><a *ngIf="messagesData; else sentMessage" href="./user-profile/{{message.to_id}}">{{message.to_name}}</a></ng-template>
        {{message.date}}
        <button (click)="selectMessage(message)">Seleccionar</button>
    </div>
  </div>
  <button (click)="deleteMessages()">Borrar Mensajes</button>
    
<ng-template #elseBlock>Cargando contenido...</ng-template>
  


