<form [formGroup]="reviewForm">
    <div class="form-group">
        <label>Puntuación
            <select formControlName="points"> 
              <option value="" *ngIf="!reviewData;else editReviewPoints">--Selecciona uno--</option>
              <ng-template #editReviewPoints>
                <option [value]="reviewData.points">--Selecciona uno--</option>
              </ng-template>
              <option *ngFor="let item of points" [value]="item">{{ item }}</option>
            </select>
          </label>
      <label>Tu mensaje
        <textarea *ngIf="!reviewData;else editReviewText" class="form-control" formControlName="text"></textarea>
        <ng-template #editReviewText>
          <textarea class="form-control" formControlName="text" [value]="reviewData.text"></textarea>
        </ng-template>
      </label>

      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="window.history.back()">{{ alert.msg }}</alert>
      </div>

      

  
    </div>
    <button type="submit" (click)="sendReview(reviewForm.value)" [disabled] = "reviewSent" class="btn btn-default">Enviar</button>
</form>